.disabled {
    color: gray;
    pointer-events: none;
}

.invisible {
    opacity: 0;
    z-index: -9;
}

.center-objects {
    text-align: center;
    vertical-align: middle;
}

.tab-indent {
    margin-left: 2em;
}

.left-float {
    float: left;
    clear: none;
}

.right-float {
    float: right;
    clear: none;
}

.half {
    width: 50%;
}

.injected-search-button {
    margin-left: 1em;
}

.injected-search-button::after {
    content: 'Free cookies! 🍪🔍';
}

.search-options {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0 2em;
}

.search-options > .flex-col {
    flex: 1;
}

.search-options > fieldset {
    /*border: 2px groove rgb(211,211,211);*/
    border: 2px groove rgba(211,211,211, 0.2);
    display: block;
    margin: 0 2px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

.search-results {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0 2em;
}

.horizontal-align-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin: 1.5em 0;
}

.horizontal-align-buttons *> .flex-row-elm {
    text-align: center;
    margin: 0 2em;
}

.inner-center {
    margin: 0 auto;
}

.center-left-text-block {
    text-align: left;
    display: inline-block;
}

.enable-if-checked {
    pointer-events: none;
    color: gray;
}

#stringPermutationLengthActive:checked ~ .enable-if-checked {
    pointer-events: auto;
    color: black;
}

.show-if-active {
    opacity: 0;
    overflow: hidden;
}

.sr-item {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    /*vertical-align: middle;*/
    align-content: space-evenly;
}

.psr-item {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;

    margin: 0 1em 2em 1em;
    padding-left: 1em;
    border-left: 1px solid darkgray;
}

.sr-item > .sr-flex-first, .psr-item > .psr-flex-first {
    flex: 120px;
}

.sr-item > .sr-flex-last, .psr-item > .psr-flex-last {
    flex: 60%;
}

.search-results > .sr-item:first-child > .sr-title {
    flex: unset;
}

.psr-sequence-val {
    font-size: larger;
    font-weight: bold;
}

.sr-title, .sr-val, .psr-title, .psr-val {
    font-size: smaller;
}

.sr-title, .psr-title {
    font-weight: bold;
}

/*!*.psr-item > .psr-title {*!*/
/*.psr-title:first-child, :not(.psr-title) + .psr-title {*/
/*    margin-left: 0;*/
/*}*/

.sr-left {
    font-size: larger;
    /*flex: 90%;*/
    text-align: left;
    padding-left: 2em;
}

.sr-right {
    text-align: left;
}

.action-button {
    display: inline-block;
}

.hidden-no-space {
    display: none;
}

.search-active-area {
    display: flex;
}

.search-active-area > div {
    width: 100%;
}

.search-active-area > div:nth-child(2) {
    margin-left: -100%;
}

input[type=number] {
    padding: 1px !important;
    font-size: small;
    margin-left: 5px;
}

#previous-searches > ol > li:last-of-type > .psr-item {
    margin-bottom: 0;
}

.sr-val, .psr-val {
    font-weight: normal;
}

#stringPermutation:checked ~ .show-if-active {
    opacity: 1;
}

dialog::backdrop {
    background: rgba(255,255,255,.25);
}

#dialog > legend {
    font-weight: bold;
}

#previous-searches > ol {
    list-style-type: decimal !important;
    margin: 0.3em 0 0 3.2em;
    padding: 0;
}

#dialog {
    width: 570px;
    /*height: 600px;*/
    /*position: absolute;*/
    top: 15%;
    /*bottom: 25%;*/
    /*left: 25%;*/
    /*right: 25%;*/
    font-size: initial;
    font-weight: initial;
}

#dialog > hr {
    margin: 1em 0;
}

#dialog > h1, h2 {
    border: none;
}

#lettersSequence {
    width: 70%;
}

#stringPermutationLengthField {
    width: 3.2em;
}

#previous-searches {
    max-height: 210px;
    overflow-x: hidden;
}
